.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: calc(var(--spacing-unit) * 1.6);
    margin: 0 calc(var(--spacing-unit) * 1.6) calc(var(--spacing-unit) * 2) calc(var(--spacing-unit) * 1.6);
    border-bottom: 1px solid var(--lines-color);
}

.banner h1 {
    color: var(--title-color);
}

.banner h2 {
    color: var(--font-color);
}